@import "tailwindcss";

html, body{
    font-family: "Roboto Flex", sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    overflow-x: hidden;
    width: 100%;
}


#root {
  overflow-x: hidden;
}
 .logo{
  font-family: "Luxurious Script", cursive;
  font-size: 35px;
  font-weight: 500;
 }
 .hero-heading{
  font-family: "The Nautigal", cursive;
 }

 /* App.css me add karo */
.menu-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.menu-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: #b86506; 
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu-item:hover::after {
  transform: scaleX(1);
}


section,
#makeup,
#hair,
#skin,
#hand,
#waxing,
#services,
#contact {
  scroll-margin-top: 100px; /* navbar height */
}
